
<ul>

	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if burger}}Put Back{{else}} Devour{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete</button>




</ul>