
<ul>

	{{name}}

	<button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
		{{#if burger}}Put Back!{{else}} Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>




</ul>